<div class="mascot-wrapper" data-mascot-state="idle">
    <img id="robot-mascot"
         class="mascot-img mascot-state-idle"
         src="{{ url_for('static', filename='images/mascot-idle.gif') }}"
         data-idle-src="{{ url_for('static', filename='images/mascot-idle.gif') }}"
         data-busy-src="{{ url_for('static', filename='images/mascot-busy.gif') }}"
         data-happy-src="{{ url_for('static', filename='images/mascot-happy.gif') }}"
         data-fallback-src="{{ url_for('static', filename='images/mascot-robot.png') }}"
         alt="Study Robot Mascot"
         onclick="window._mascotTalk &amp;&amp; window._mascotTalk()">
    <div id="speech-bubble">
        <span id="bubble-text">I'm here to help you learn. What are we studying today?</span>
        <div id="bubble-progress" class="bubble-progress" style="display:none;">
            <div class="bubble-progress-track"><div class="bubble-progress-fill" id="bubble-progress-fill"></div></div>
        </div>
    </div>
</div>